<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cultura y Gastronomia</title>
    <link rel="stylesheet" href="../css/inicio.css">
</head>

<body>
    <header>
        <div class="titulo-area">
            <h1 class="titulo-inicio">PORTAL DIGITAL CONOCÉ TU TIERRA</h1>
            <h2 class="eslogan">CULTURA, DESTINOS, TRADICIÓN Y MUCHO SABOR.</h2>
            <figure class="logo">
                <img src="../img/inicio/logo.png" alt="Logotipo del PORTAL" width="600">
            </figure>
        </div>
    </header>

    <nav>
        <div class="barra-navegacion">
            <ul>
                <li><a href="../index.html">Volver a Inicio</a></li>
                <li><a href="./rutas.html">Destinos / Rutas</a></li>
                <li><a href="./reservaciones.html">Reservaciones</a></li>
                <li><a href="./contactanos.html">Contacto y Asistencia</a></li>
            </ul>
        </div>

    </nav>

    <main></main>

</body>

</html>